* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  text-align: center;
  margin: 20px;
}

#usersList {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.userInfo {
  text-align: left;
  list-style: none;
  margin: auto;
}

.user {
  display: flex;
  font-family: 'Playfair Display', serif;
  justify-self: center;
  border: 1px black solid;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

.userImg {
  border-radius: 50%;
  margin: 10px;
  width: 20%;
  height: 20%;
}

h4 {
  text-transform: capitalize;
}